menu "Battery Monitor Module"

config ZMK_BATTERY_MONITOR
    bool "Enable Battery Monitor Module"
    default y
    help
      Enables battery voltage and charge monitoring support.

config NON_LIPO_BATTERY_MANAGEMENT
    bool "Use external non-lipo battery management API"
    default n
    help
      Use the external non-lipo-battery-management module API
      instead of internal ADC measurement.

endmenu
