menu "Battery Monitor Module"

config ZMK_BATTERY_MONITOR
    bool "Enable Battery Monitor Module"
    default y

config ZMK_BATTERY_MONITOR_DEBUG
    bool "Enable debug logs for Battery Monitor"
    default n

endmenu
